.mobile-content-container {
  display: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
  margin: 30px;
}

.bailey-logo {
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  left: 5px;
}

.nav-top {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons, .social-icons.footer {
  display: flex;
  align-items: center;
  position: relative;
  top: -5px;
  right: -65px;
}

.social-icons > a > img {
  margin: 10px;
}

.facebook-icons,
.instagram-icons,
.email-icon {
  padding: 10px;
}

.facebook, .instagram {
  height: 25px;
  width: 25px;
}

.facebook:hover, .instagram:hover,
.bb-email:hover {
  transform: scale(1.2);
}

.email-icon {
  height: 24px;
  display: flex;
  align-items: center;
  position: relative;
  top: 1px;
  cursor: pointer;
}

.direction {
  cursor: default;
}

.direction > a {
  font-size: 12px;
  font-family: "Lucida Grande", sans-serif;
  color: #727272;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.direction > a:hover {
  color: #093272;
  text-decoration: underline;
}

.jumbotron {
  background-color: #D8D8D8;
  width: 95%;
  height: 500px;
  margin: 30px auto;
  padding: 0 3% 0;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-image > img {
  width: 600px;
  height: auto;
}

img {
  image-orientation: from-image;
}

.hero-adj, .services-list,
.ti, .estimate, .lease,
.design{
  display: flex;
  flex-direction: column;
}

.hero-adj {
  align-items: flex-end;
}

.ti, .estimate, .lease,
.design {
  flex-direction: row;
  align-items: center;
}

.adj {
  font-family: "Lucida Grande", sans-serif;
  font-size: 48px;
  color: #4A4A4A;
  float: right;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.icon-check {
  width: 26px;
  height: auto;
  margin-right: 10px;
}

.list-item {
  font-family: "Lucida Grande", sans-serif;
  font-size: 36px;
  color: #4A4A4A;
}

.hero-title > .adj {
  position: relative;
  top: -30px;
  left: -50px;
}

.hero-title > .adj.r {
  left: -110px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #979797;
}

.address, .contact,
.email {
  font-family: "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  margin: 15px 0 15px 0;
}

.social-icons.footer {
  display: flex;
  align-items: center;
  top: 0;
  border: none;
}

/*About*/

.adj-small {
  font-family: "Lucida Grande", sans-serif;
  font-size: 32px;
  color: #093272;
  position: relative;
  top: -30px;
}

.adj-small-desc {
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #4A4A4A
}

/*Contact*/

.company-title, .company-address,
.company-email, .company-phone-fax {
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #4A4A4A;
  margin: 10px;
}

.company-title {
  color: #093272;
}

.email > a, .company-email > a,
.company-address > a {
  color: #4A4A4A;
}

.email > a:visited a:active,
.company-email > a:visited a:active {
  text-decoration: none;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 25%;
}

.social-icons.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.social-icons.contact > img {
  cursor: pointer;
  margin: 10px;
}

.contact-footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/*Mobile*/

.mobile-header {
  display: none;
  border-bottom: 1px solid #979797;
}

.mobile-nav, .mobile-nav-menu {
  display: none;
}

.mobile-footer {
  display: none;
  margin-top: 60px;
}

.wrapper.contact-mobile {
  margin-top: 20px;
}

.company-name-mobile,
.company-address-mobile,
.company-email-mobile,
.company-contact-mobile {
  font-family: "Lucida Grande", sans-serif;
  font-size: 24px;
  color: #093272;
  margin: 10px;
}

.company-address-mobile,
.company-email-mobile,
.company-contact-mobile {
  font-size: 20px;
  text-align: center;
  color: #4A4A4A;
}

.social-icons.mobile {
  margin: 10px;
}

.social-icons.footer {
  right: 0;
}

/*Media Queries*/

@media screen and (max-width: 1920px) {
  .desktop-content-container {
    margin: 6% 0 10% 0;
  }
}

@media screen and (max-width: 1630px) {
  .adj {
    font-size: 38px;
  }
  .list-item {
    font-size: 28px;
  }
}

@media screen and (max-width: 1470px) {
  .hero-image > img {
    width: 550px;
  }
  .adj {
    font-size: 33px;
  }
  .list-item {
    font-size: 25px;
  }
}

@media screen and (max-width: 1346px) {
  .jumbotron {
    height: 400px;
  }
  .hero-image > img {
    width: 485px;
  }
  .adj {
    font-size: 28px;
  }
  .list-item {
    font-size: 20px;
  }
  .icon-check {
    width: 16px;
  }
  .adj-small {
    font-size: 24px;
    top: -20px;
  }
  .adj-small-desc {
    width: 85%;
    font-size: 15px;
  }
}

@media screen and (max-width: 1160px) {
  .jumbotron {
    height: 350px;
  }
  .hero-image > img {
    width: 410px;
  }
}

@media screen and (max-width: 1060px) {
  .jumbotron {
    height: 350px;
  }
  .hero-image > img {
    width: 375px;
  }
  .adj {
    font-size: 23px;
  }
  .list-item {
    font-size: 17px;
  }
  .icon-check {
    width: 13px;
  }
  .company-title, .company-address, .company-email, .company-phone-fax {
    font-size: 16px;
  }
  .social-icons.contact {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .jumbotron {
    height: 300px;
  }

  .hero-image > img {
    width: 350px;
  }

  .adj {
    font-size: 23px;
  }
}

@media screen and (max-width: 900px){
  .jumbotron {
    height: 270px;
  }
  .hero-image > img {
    width: 300px;
  }
  .adj {
    font-size: 20px;
  }
  .list-item {
    font-size: 17px;
  }
  .icon-check {
    width: 12px;
  }
  .adj-small {
    font-size: 20px;
    top: -10px;
  }
  .adj-small-desc {
    font-size: 13px;
  }
}

@media screen and (max-width: 768px) {
  .desktop-content-container {
    display: none;
  }
  .hero-image,
  .hero-image.first {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-image > img {
    width: 95%;
    border-radius: 5px;
  }
  .hero-title {
    display: flex;
    justify-content: center;
  }
  .hero-adj {
    align-items: center;
  }
  .hero-title > .adj {
    left: 0;
  }
  .hero-title > .adj.r {
    left: 0;
  }
  .services-list {
    justify-content: center;
    align-items: center;
  }
  .mobile-content-container {
    display: block;
  }
  .footer {
    display: none;
  }
  .mobile-footer {
    display: block;
  }
  .social-icons.footer {
    justify-content: center;
  }
  .wrapper {
    align-items: center;
  }
  .adj-small-desc {
    padding: 2%;
    text-align: center;
  }
}

@media screen and (max-width: 414px) {
  .main-header, .nav-top, .mobile-nav-close {
    display: none;
  }

  .mobile-header, .mobile-nav {
    display: flex;
  }

  /*.main-container {*/
    /*display: none;*/
  /*}*/

  .mobile-content-container {
    display: block;
    position: relative;
    z-index: -1;
    top: 42px;
  }

  .mobile-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(255,255,255,0.9);
    top: 0px;
  }

  .logo {
    margin-top: 5px;
    margin-left: 10px;
  }

  .bailey-logo {
    width: 164px;
    height: 54px;
    top: 7px;
  }

  .mobile-nav, .mobile-nav-close   {
    position: relative;
    height: 100%;
    top: 15px;
    left: 180px;
  }

  .fa-2x {
    font-size: 3em;
  }

  .mobile-nav-menu {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 75px;
  }

  .mobile-nav-menu > a {
    width: 100%;
    border-bottom: 1px solid #979797;
  }

  .mobile-nav-menu > a:active {
    background-color: #D8D8D8;
  }

  .mobile-nav-menu > a:focus,
  .mobile-nav-menu > a:active {
    text-decoration: none;
  }

  .mobile-nav-menu-item {
    text-align: center;
    margin: 10px;
  }

  .mobile-menu-li {
    font-family: "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #4A4A4A;
    position: relative;
    top: 0;
  }

  .divider {
    color: #979797;
  }

  .mobile-content-container {
    display: block;
    position: relative;
    z-index: -1;
    top: 70px;
  }

  .jumbotron.mobile {
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
  }

  .jumbotron.mobile.commercial {
    height: 180px;
    padding-top: 45px;
  }

  .jumbotron.mobile.residential {
    height: 200px;
    padding-top: 45px;
  }

  .hero-image > img {
    width: 100%;
  }

  .hero-image.first {
    margin-top: 10px;
  }

  .hero-adj {
    align-items: center;
  }

  .adj {
    margin: 10px;
    font-size: 32px;
  }

  .jumbotron.mobile-long {
    width: 100%;
    height: 350px;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .jumbotron.mobile.contact {
    height: 320px;
  }

  .wrapper {
    margin-top: -25px;
    align-items: center;
  }

  .hero-title {
    display: flex;
    justify-content: center;
  }

  .hero-title > .adj {
    top: 0;
    left: 0;
    font-weight: bold;
  }

  .services-list {
    align-items: center;
    text-align: center;
  }

  .list-item {
    font-size: 28px;
    margin: 5px;
  }

  .hero-title > .adj.r {
    left: 0;
  }

  .mobile-address-contact {
    display: flex;
    justify-content: space-around;
  }

  .social-icons.footer {
    justify-content: center;
  }

  .adj-small {
    font-size: 22px;
    top: -22px;
  }

  .adj-small-desc {
    font-size: 12px;
    text-align: center;
    margin: 25px 10px 10px 10px;
  }

  .wrapper.about-mobile {
    margin-top: -10px;
  }

  .experienced {
    position: relative;
    top: 40px;
  }

  .company-email-mobile > a {
    color: #4A4A4A;
  }

  .company-email-mobile > a:visited {
    text-decoration: none;
  }
}

@media screen and (max-width: 375px){
  .bailey-logo {
    width: 110px;
    height: auto;
    top: 6px;
  }

  .main-header, .nav-top, .mobile-nav-close {
    display: none;
  }

  .mobile-header, .mobile-nav {
    display: flex;
  }

  .mobile-header {
    position: fixed;
    width: 375px;
    z-index: 5;
    background-color: rgba(255,255,255,0.9);
    top: 0px;
  }

  .mobile-nav, .mobile-nav-close   {
    position: relative;
    height: 100%;
    top: 10px;
    left: 215px;
  }

  .fa.fa-bars, .fa.fa-times {
    color: #093272;
  }

  .fa-2x {
    font-size: 2em;
  }

  .mobile-nav-menu {
    width: 375px;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 47px;
  }

  .mobile-nav-menu > a {
    width: 100%;
    border-bottom: 1px solid #979797;
  }

  .mobile-nav-menu > a:active {
    background-color: #D8D8D8;
  }

  .mobile-nav-menu > a:focus {
    text-decoration: none;
  }

  .mobile-nav-menu-item {
    text-align: center;
    margin: 10px;
  }
  
  .mobile-menu-li {
    font-family: "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #4A4A4A;
    position: relative;
    top: 0;
  }

  .divider {
    color: #979797;
  }

  .mobile-content-container {
    display: block;
    position: relative;
    z-index: -1;
    top: 42px;
  }

  .jumbotron.mobile {
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 200px;
  }

  .hero-image > img {
    width: 100%;
  }

  .hero-image.first {
    margin-top: 10px;
  }

  .hero-adj {
    align-items: center;
  }

  .adj {
    margin: 10px;
    font-size: 20px;
  }

  .jumbotron.mobile-long {
    width: 100%;
    height: 220px;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .jumbotron.mobile.contact {
    height: 320px;
  }

  .wrapper {
    margin-top: 10px;
    align-items: center;
  }

  .hero-title {
    display: flex;
    justify-content: center;
  }

  .hero-title > .adj {
    top: 0;
    left: 0;
    font-weight: bold;
  }

  .services-list {
    align-items: center;
  }

  .list-item {
    font-size: 15px;
    margin: 5px;
  }

  .hero-title > .adj.r {
    left: 0;
  }

  .mobile-address-contact {
    display: flex;
    justify-content: space-around;
  }

  .social-icons.footer {
    justify-content: center;
  }

  .adj-small {
    font-size: 21px;
    top: -17px;
  }

  .adj-small-desc {
    font-size: 12px;
    text-align: center;
    margin: 25px 10px 10px 10px;
  }

  .wrapper.about-mobile {
    margin-top: -10px;
  }

  .experienced {
    position: relative;
    top: 45px;
  }

  .company-email-mobile > a {
    color: #4A4A4A;
  }

  .company-email-mobile > a:visited {
    text-decoration: none;
  }
}
@media screen and (max-width: 320px) {
  .mobile-nav-menu {
    width: 100%;
  }
  .mobile-nav {
    top: 10px;
    left: 165px;
  }
  .mobile-nav-close {
    top: 8px;
    left: 165px;
  }
  .mobile-menu-li {
    font-size: 16px;
  }

  .jumbotron.mobile {
    height: 200px;
  }

  .adj {
    font-size: 25px;
  }

  .jumbotron.mobile-long {
    height: 230px;
  }

  .experienced {
    top: 37px;
  }

  .list-item {
    font-size: 22px;
  }

  .adj-small {
    font-size: 18px;
  }

  .adj-small-desc {
    font-size: 11px;
    margin-top: 20px;
  }
}
