.mobile-content-container {
  display: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
  margin-top: 15px;
}

.bailey-logo {
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  left: 5px;
}

.nav-top {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  position: relative;
  top: -15px;
}

.social-icons > a > img {
  margin: 10px;
}

.facebook-blue, .instagram-blue,
.google-blue {
  display: none;
}

.facebook, .instagram,
.facebook-blue, .instagram-blue {
  height: 25px;
  width: 25px;
}

/*.facebook:hover, .instagram:hover,*/
/*.google-plus:hover {*/
  /*display: none;*/
/*}*/

.google-plus, .google-blue {
  height: 20px;
  width: 30px;
  position: relative;
  top: 2px;
}

.direction {
  cursor: default;
}

.direction > a {
  font-size: 12px;
  font-family: "Lucida Grande", sans-serif;
  color: #727272;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.direction > a:hover {
  color: #093272;
}

.jumbotron {
  width: 95%;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-image > img {
  width: 600px;
  height: auto;
}

.hero-adj, .services-list,
.ti, .estimate, .lease,
.design{
  display: flex;
  flex-direction: column;
}

.hero-adj {
  align-items: flex-end;
}

.ti, .estimate, .lease,
.design {
  flex-direction: row;
  align-items: center;
}

.adj {
  font-family: "Lucida Grande", sans-serif;
  font-size: 48px;
  color: #4A4A4A;
  float: right;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.icon-check {
  width: 26px;
  height: auto;
  margin-right: 10px;
}

.list-item {
  font-family: "Lucida Grande", sans-serif;
  font-size: 36px;
  color: #4A4A4A;
}

.hero-title > .adj {
  position: relative;
  top: -80px;
  left: -50px;
}

.hero-title > .adj.r {
  left: -110px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #979797;
}

.address, .contact,
.email {
  font-family: "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  margin: 15px 0 15px 0;
}

.social-icons.footer {
  display: flex;
  align-items: initial;
  top: 0;
  border: none;
}

/*About*/

.adj-small {
  font-family: "Lucida Grande", sans-serif;
  font-size: 32px;
  color: #093272;
  position: relative;
  top: -30px;
}

.adj-small-desc {
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #4A4A4A
}

/*Contact*/

.company-title, .company-address,
.company-email, .company-phone-fax {
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #4A4A4A;
  margin: 10px;
}

.company-title {
  color: #093272;
}

.email > a, .company-email > a,
.company-address > a {
  color: #4A4A4A;
}

.email > a:visited,
.company-email > a:visited {
  text-decoration: none;
}

.social-icons.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.social-icons.contact > img {
  cursor: pointer;
  margin: 10px;
}

/*Mobile*/

.mobile-header {
  display: none;
  border-bottom: 1px solid #979797;
}

.mobile-nav, .mobile-nav-menu {
  display: none;
}

/*Media Queries*/

@media screen and (max-width: 375px){
  .bailey-logo {
    width: 110px;
    height: auto;
    top: 6px;
  }

  .main-header, .nav-top {
    display: none;
  }

  .mobile-header, .mobile-nav {
    display: flex;
  }

  .mobile-nav {
    position: relative;
    top: 7px;
    left: 220px;
  }

  .fa.fa-bars {
    color: #093272;
  }

  .main-container {
    display: none;
  }

  .mobile-content-container {
    display: block;
  }

  .jumbotron {
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
  }

  .hero-image > img {
    width: 100%;
  }

  .hero-image.first {
    margin-top: 10px;
  }

  .hero-adj {
    align-items: center;
  }

  .adj {
    margin: 10px;
    font-size: 32px;
  }

  .jumbotron.mobile-long {
    height: 300px;
  }

  .wrapper {
    margin-top: -25px;
  }

  .hero-title {
    display: flex;
    justify-content: center;
  }

  .hero-title > .adj {
    top: 0;
    left: 0;
    font-weight: bold;
  }

  .services-list {
    align-items: center;
  }

  .list-item {
    font-size: 28px;
    margin: 5px;
  }

  .hero-title > .adj.r {
    left: 0;
  }

  .mobile-address-contact {
    display: flex;
    justify-content: space-around;
  }

  .social-icons.footer {
    justify-content: center;
  }

}

