.mobile-content-container {
  display: none;
}

.main-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
  margin-top: 15px;
}

.bailey-logo {
  width: 200px;
  height: 60px;
  margin-bottom: 10px;
  position: relative;
  top: 5px;
  left: 5px;
}

.nav-top {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.social-icons {
  display: flex;
  position: relative;
  top: -15px;
}

.social-icons > a > img {
  margin: 10px;
}

.facebook-blue, .instagram-blue,
.google-blue {
  display: none;
}

.facebook, .instagram,
.facebook-blue, .instagram-blue {
  height: 25px;
  width: 25px;
}

/*.facebook:hover, .instagram:hover,*/
/*.google-plus:hover {*/
  /*display: none;*/
/*}*/

.google-plus, .google-blue {
  height: 20px;
  width: 30px;
  position: relative;
  top: 2px;
}

.direction {
  cursor: default;
}

.direction > a {
  font-size: 12px;
  font-family: "Lucida Grande", sans-serif;
  color: #727272;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

.direction > a:hover {
  color: #093272;
}

.jumbotron {
  width: 95%;
  height: 500px;
  margin: 30px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-image > img {
  width: 600px;
  height: auto;
}

.hero-adj, .services-list,
.ti, .estimate, .lease,
.design{
  display: flex;
  flex-direction: column;
}

.hero-adj {
  align-items: flex-end;
}

.ti, .estimate, .lease,
.design {
  flex-direction: row;
  align-items: center;
}

.adj {
  font-family: "Lucida Grande", sans-serif;
  font-size: 48px;
  color: #4A4A4A;
  float: right;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.icon-check {
  width: 26px;
  height: auto;
  margin-right: 10px;
}

.list-item {
  font-family: "Lucida Grande", sans-serif;
  font-size: 36px;
  color: #4A4A4A;
}

.hero-title > .adj {
  position: relative;
  top: -80px;
  left: -50px;
}

.hero-title > .adj.r {
  left: -110px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #979797;
}

.address, .contact,
.email {
  font-family: "Lucida Grande", sans-serif;
  font-size: 14px;
  color: #4A4A4A;
  text-align: center;
  margin: 15px 0 15px 0;
}

.social-icons.footer {
  display: flex;
  align-items: initial;
  top: 0;
  border: none;
}

/*About*/

.adj-small {
  font-family: "Lucida Grande", sans-serif;
  font-size: 32px;
  color: #093272;
  position: relative;
  top: -30px;
}

.adj-small-desc {
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #4A4A4A
}

/*Contact*/

.company-title, .company-address,
.company-email, .company-phone-fax {
  font-family: "Lucida Grande", sans-serif;
  font-size: 20px;
  color: #4A4A4A;
  margin: 10px;
}

.company-title {
  color: #093272;
}

.email > a, .company-email > a,
.company-address > a {
  color: #4A4A4A;
}

.email > a:visited,
.company-email > a:visited {
  text-decoration: none;
}

.social-icons.contact {
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.social-icons.contact > img {
  cursor: pointer;
  margin: 10px;
}

.contact-footer-container {
  width: 100%;
  position: absolute;
  bottom: 0;
}

/*Mobile*/

.mobile-header {
  display: none;
  border-bottom: 1px solid #979797;
}

.mobile-nav, .mobile-nav-menu {
  display: none;
}

.mobile-footer {
  margin-top: 10px;
}

.wrapper.contact-mobile {
  margin-top: 20px;
}

.company-name-mobile,
.company-address-mobile,
.company-email-mobile,
.company-contact-mobile {
  font-family: "Lucida Grande", sans-serif;
  font-size: 24px;
  color: #093272;
  margin: 10px;
}

.company-address-mobile,
.company-email-mobile,
.company-contact-mobile {
  font-size: 20px;
  text-align: center;
  color: #4A4A4A;
}

.social-icons.mobile {
  margin: 10px;
}

/*Media Queries*/

@media screen and (max-width: 768px) {
  
}

@media screen and (max-width: 414px) {
  .main-header, .nav-top, .mobile-nav-close {
    display: none;
  }

  .mobile-header, .mobile-nav {
    display: flex;
  }

  .main-container {
    display: none;
  }

  .mobile-content-container {
    display: block;
    position: relative;
    z-index: -1;
    top: 42px;
  }

  .mobile-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(255,255,255,0.9);
    top: 0px;
  }

  .logo {
    margin-top: 5px;
  }

  .mobile-nav, .mobile-nav-close   {
    position: relative;
    height: 100%;
    top: 13px;
    left: 160px;
  }

  .fa-2x {
    font-size: 3em;
  }

  .mobile-nav-menu {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 75px;
  }

  .mobile-nav-menu > a {
    width: 100%;
    border-bottom: 1px solid #979797;
  }

  .mobile-nav-menu > a:active {
    background-color: #D8D8D8;
  }

  .mobile-nav-menu > a:focus {
    text-decoration: none;
  }

  .mobile-nav-menu-item {
    text-align: center;
    margin: 10px;
  }

  .mobile-menu-li {
    font-family: "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #4A4A4A;
    position: relative;
    top: 0;
  }

  .divider {
    color: #979797;
  }

  .main-container {
    display: none;
  }

  .mobile-content-container {
    display: block;
    position: relative;
    z-index: -1;
    top: 70px;
  }

  .jumbotron.mobile {
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
  }

  .hero-image > img {
    width: 100%;
  }

  .hero-image.first {
    margin-top: 10px;
  }

  .hero-adj {
    align-items: center;
  }

  .adj {
    margin: 10px;
    font-size: 32px;
  }

  .jumbotron.mobile-long {
    width: 100%;
    height: 300px;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .jumbotron.mobile.contact {
    height: 320px;
  }

  .wrapper {
    margin-top: -25px;
    align-items: center;
  }

  .hero-title {
    display: flex;
    justify-content: center;
  }

  .hero-title > .adj {
    top: 0;
    left: 0;
    font-weight: bold;
  }

  .services-list {
    align-items: center;
  }

  .list-item {
    font-size: 28px;
    margin: 5px;
  }

  .hero-title > .adj.r {
    left: 0;
  }

  .mobile-address-contact {
    display: flex;
    justify-content: space-around;
  }

  .social-icons.footer {
    justify-content: center;
  }

  .adj-small {
    font-size: 25px;
  }

  .adj-small-desc {
    font-size: 15px;
    text-align: center;
    margin: 25px 10px 10px 10px;
  }

  .wrapper.about-mobile {
    margin-top: -10px;
  }

  .experienced {
    position: relative;
    top: 40px;
  }

  .company-email-mobile > a {
    color: #4A4A4A;
  }

  .company-email-mobile > a:visited {
    text-decoration: none;
  }
}

@media screen and (max-width: 375px){
  .bailey-logo {
    width: 110px;
    height: auto;
    top: 6px;
  }

  .main-header, .nav-top, .mobile-nav-close {
    display: none;
  }

  .mobile-header, .mobile-nav {
    display: flex;
  }

  .mobile-header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background-color: rgba(255,255,255,0.9);
    top: 0px;
  }

  .mobile-nav, .mobile-nav-close   {
    position: relative;
    height: 100%;
    top: 7px;
    left: 220px;
  }

  .fa.fa-bars, .fa.fa-times {
    color: #093272;
  }

  .fa-2x {
    font-size: 2em;
  }

  .mobile-nav-menu {
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 47px;
  }

  .mobile-nav-menu > a {
    width: 100%;
    border-bottom: 1px solid #979797;
  }

  .mobile-nav-menu > a:active {
    background-color: #D8D8D8;
  }

  .mobile-nav-menu > a:focus {
    text-decoration: none;
  }

  .mobile-nav-menu-item {
    text-align: center;
    margin: 10px;
  }
  
  .mobile-menu-li {
    font-family: "Lucida Grande", sans-serif;
    font-size: 20px;
    color: #4A4A4A;
    position: relative;
    top: 0;
  }

  .divider {
    color: #979797;
  }

  .main-container {
    display: none;
  }

  .mobile-content-container {
    display: block;
    position: relative;
    z-index: -1;
    top: 42px;
  }

  .jumbotron.mobile {
    width: 100%;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 250px;
  }

  .hero-image > img {
    width: 100%;
  }

  .hero-image.first {
    margin-top: 10px;
  }

  .hero-adj {
    align-items: center;
  }

  .adj {
    margin: 10px;
    font-size: 32px;
  }

  .jumbotron.mobile-long {
    width: 100%;
    height: 300px;
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .jumbotron.mobile.contact {
    height: 320px;
  }

  .wrapper {
    margin-top: -25px;
    align-items: center;
  }

  .hero-title {
    display: flex;
    justify-content: center;
  }

  .hero-title > .adj {
    top: 0;
    left: 0;
    font-weight: bold;
  }

  .services-list {
    align-items: center;
  }

  .list-item {
    font-size: 28px;
    margin: 5px;
  }

  .hero-title > .adj.r {
    left: 0;
  }

  .mobile-address-contact {
    display: flex;
    justify-content: space-around;
  }

  .social-icons.footer {
    justify-content: center;
  }

  .adj-small {
    font-size: 25px;
  }

  .adj-small-desc {
    font-size: 15px;
    text-align: center;
    margin: 25px 10px 10px 10px;
  }

  .wrapper.about-mobile {
    margin-top: -10px;
  }

  .experienced {
    position: relative;
    top: 40px;
  }

  .company-email-mobile > a {
    color: #4A4A4A;
  }

  .company-email-mobile > a:visited {
    text-decoration: none;
  }
}
@media screen and (max-width: 320px) {
  .mobile-nav {
    left: 170px;
  }

  .jumbotron.mobile {
    height: 200px;
  }

  .adj {
    font-size: 25px;
  }

  .jumbotron.mobile-long {
    height: 230px;
  }

  .wrapper {
    margin-top: -10px;
  }

  .list-item {
    font-size: 22px;
  }

  .adj-small {
    font-size: 22px;
  }

  .adj-small-desc {
    font-size: 12px;
    margin-top: 20px;
  }
}
